[bot]
profile = "./groupbot.tox"
name = "groupbot"
avatar = "./avatar.png"
status_message = "groupbot."
bootstrap_addr = "127.0.0.1:33445"
bootstrap_pk = ""

[master]
pk = [ "" ]

[log]
path = "./logs/"

[keyword]
fake_offline_message = "offline message"
fake_group = "mobile"
